.walker-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.walker-card {
  width: 40%;
}

.city-select {
  margin: 2rem 0;
  width: 30%;
}

.add-dog-card {
  cursor: pointer;
}

.clicked {
  background-color: #faedcd;
  box-shadow: 0 0 0.1rem black;
}

.dog-modal-btn {
  width: 100%;
}

.city-choice-options {
  margin-right: 1.5rem;
  padding: 0.5rem;
}
